.body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.toolbar{
    display: flex;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}
.navbar{
    grid-column-start: 1;
    grid-row-start: 3;
    grid-row-end: 5;
}
.content{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 5;
}