<div class="container">
  <form [formGroup]="formularioEdit" (ngSubmit)="editUsuario()">
    <h2>Editar Alumno</h2>
    <mat-form-field appearance="fill">
      <mat-label>Usuario</mat-label>
      <input
        type="text"
        matInput
        autocomplete="off"
        formControlName="username" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input type="text" matInput autocomplete="off" formControlName="email" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Contraseña</mat-label>
      <input
        type="password"
        matInput
        autocomplete="off"
        formControlName="password" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Roles</mat-label>
      <mat-select formControlName="role">
        <mat-option>Seleccione un Rol</mat-option>
        <mat-option *ngFor="let rol of roles" [value]="rol">{{
          rol
        }}</mat-option>
      </mat-select>
    </mat-form-field>
    <button
      type="button"
      mat-raised-button
      color="primary"
      routerLink="/main/usuarios"
      (click)="editUsuario()">
      Editar
    </button>
    <br />
    <button mat-raised-button color="primary" routerLink="/main/usuarios">
      Volver
    </button>
  </form>
</div>
