.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

table {
  width: 100%;
  border-spacing: 25px;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 14px;
  color: #333;
}
