<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <h1>Inscripcion Nro: {{ inscripcion.id }}</h1>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-card-title>Alumno:</mat-card-title>
      <mat-card-subtitle>
        <a
          [routerLink]="[
            '/main/alumnos/details-alumno',
            inscripcion.alumno.id
          ]">
          {{ inscripcion.alumno.name }}
          {{ inscripcion.alumno.lastName }}
        </a>
      </mat-card-subtitle>
      <mat-card-title>Curso:</mat-card-title>
      <mat-card-subtitle>
        <a [routerLink]="['/main/cursos/details-curso', inscripcion.curso.id]">
          {{ inscripcion.curso.name }}
        </a>
      </mat-card-subtitle>
    </mat-card-content>
    <mat-card-actions>
      <button
        mat-raised-button
        color="primary"
        routerLink="/main/inscripciones">
        Volver
      </button>
    </mat-card-actions>
  </mat-card>
</div>
