<div class="body">
  <div class="login">
    <form [formGroup]="formularioLogin" (ngSubmit)="login()">
      <h1 class="h3 mb-3 fw-normal">Login</h1>
      <mat-form-field class="ancho" appearance="fill">
        <mat-label>Email</mat-label>
        <input
          type="text"
          matInput
          autocomplete="off"
          formControlName="email" />
      </mat-form-field>
      <mat-form-field class="ancho" appearance="fill">
        <mat-label>Password</mat-label>
        <input
          type="password"
          matInput
          autocomplete="off"
          formControlName="password" />
      </mat-form-field>
      <button
        type="button"
        mat-raised-button
        class="ancho"
        color="primary"
        [disabled]="formularioLogin.invalid"
        (click)="login()"
        routerLink="/main">
        Login
      </button>
    </form>
  </div>
</div>
