.lateral-menu{
    display: block;
    background-color: #f5f5f5;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}

.lateral-menu a{
    display: block;
    padding: 16px;
    color: black;
    font-weight: bold;
    text-decoration: none;
}