<div class="container">
  <br />
  <form [formGroup]="formularioAdd" (ngSubmit)="addCurso()">
    <h2>Agregar Curso</h2>
    <mat-form-field appearance="fill">
      <mat-label>Nombre</mat-label>
      <input type="text" matInput autocomplete="off" formControlName="name" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Descripción</mat-label>
      <textarea
        matInput
        autocomplete="off"
        formControlName="description"></textarea>
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      routerLink="/cursos"
      (click)="addCurso()">
      Agregar
    </button>
    <br />
    <button
      type="button"
      mat-raised-button
      color="primary"
      routerLink="/cursos">
      Volver
    </button>
  </form>
</div>
