<div>
  <mat-grid-list cols="1" rowHeight="2:1">
    <mat-grid-tile-header>
      <mat-toolbar>
        <mat-toolbar-row>
          <span class="flex-spacer"></span>
          <button mat-raised-button color="primary" routerLink="/add">
            Agregar Alumno
          </button>
          <span class="flex-spacer"></span>
          <button mat-raised-button color="primary" routerLink="/list">
            Ver alumnos
          </button>
          <span class="flex-spacer"></span>
          <button mat-raised-button color="primary" routerLink="/alumnos">
            Volver
          </button>
          <span class="flex-spacer"></span>
        </mat-toolbar-row>
      </mat-toolbar>
    </mat-grid-tile-header>
    <mat-grid-tile>
      <router-outlet></router-outlet>
    </mat-grid-tile>
  </mat-grid-list>
</div>
