<div class="container">
  <form [formGroup]="formularioAdd" (ngSubmit)="addInscripcion()">
    <h2>Agregar Inscripcion</h2>
    <mat-form-field appearance="fill">
      <mat-label>Curso a inscribir</mat-label>
      <mat-select formControlName="curso">
        <mat-option>Seleccione un Curso</mat-option>
        <mat-option *ngFor="let curso of cursos" [value]="curso">{{
          curso.name
        }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Alumno</mat-label>
      <mat-select formControlName="alumno">
        <mat-option>Seleccione un Alumno</mat-option>
        <mat-option *ngFor="let alumno of alumnos" [value]="alumno"
          >{{ alumno.name }} {{ alumno.lastName }}</mat-option
        >
      </mat-select>
    </mat-form-field>
    <button
      type="button"
      mat-raised-button
      color="primary"
      routerLink="/main/inscripciones"
      (click)="addInscripcion()">
      Inscribir
    </button>
    <br />
    <button mat-raised-button color="primary" routerLink="/main/inscripciones">
      Volver
    </button>
  </form>
</div>
